.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #70c1b3;
    margin: 20px;
}

.scoreboard tr {
    margin-top: 10px;
    margin-bottom: 10px;
}